.Container{
    display:flex;
    min-height: fit-content;
    gap:20px;
    margin-top: 45px;
}
.box1{
    height: 90px;
    width:43%;
    background-color:#60a5fa;
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
    padding-left:2.5rem;
    border-radius: 10px;
}
.box1 h2{
    font-size: 40px;
}
.box1 h3{
    font-size: 25px;
}
.box2{
    height: 90px;
    width:43%;
    background-color:#4ade80;
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
    padding-left:2.5rem;
    border-radius: 10px;
}
.box2 h2{
    font-size: 40px;
}
.box2 h3{
    font-size: 25px;
}
.box3{
    height: 90px;
    width:43%;
    background-color:#facc15;
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
    padding-left:2.5rem;
    border-radius: 10px;
}
.box3 h2{
    font-size: 40px;
}
.box3 h3{
    font-size: 25px;
}
.box4{
    height: 90px;
    width:43%;
    background-color:rgb(248, 113, 113);
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
    padding-left:2.5rem;
    border-radius: 10px;
}
.box4 h2{
    font-size: 40px;
}
.box4 h3{
    font-size: 25px;
}