.Outer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.Inner form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5rem;
    border: 2px solid #059669;
    border-radius: 4%;
    gap: 2rem;
}

.Email {
    height: 45px;
    width: 230px;
    border: 2px solid #059669;
    border-radius: 25px;
    padding-left: 18px;
    color: #111;
    font-size: 16px;
    font-weight: 530;
}

.Password {
    height: 45px;
    width: 230px;
    border: 2px solid #059669;
    border-radius: 25px;
    padding-left: 18px;
    color: #111;
    font-size: 16px;
    font-weight: 530;
}

.Email:focus,
.Password:focus {
    border-color: #059669;
    /* keep the same green */
    outline: none;
    /* hide the default blue outline */
}

.Form button {
    height: 45px;
    width: 210px;
    background-color: #059669;
    color: #fff;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
}